.App {
  text-align: center;
  background-color: #BDDEFE;
  min-height: 100vh;
  padding: 2rem;
  font-size: 1.3em;
}
.onType{
  background-color:black ;
  color: white;
}
.trueType{
  color: green;
}
.falseType{
  color: red;
}
.badtyped{
  background-color: red;
  color: #fff;
}
input{
  font-size: 1.3em;
}
button{
  font-size: .8em;
}
