.App {
  text-align: center;
  background-color: #BDDEFE;
  min-height: 100vh;
  padding: 2rem;
}
.onType{
  background-color:black ;
  color: white;
}
.trueType{
  color: green;
}
.falseType{
  color: red;
}